.slick-dots li {
  margin: 0;
}

.slick-dots .slick-active button {
  background: #fdfdfd;
  border: 1px solid var(--brand-color);
  border-radius: 50%;
}

.slick-dots li.slick-active button::before {
  color: var(--brand-color);
  opacity: 1;
  font-size: 8px;
  line-height: 23px;
}

.slick-dots li.slick-active button:hover {
  color: var(--brand-color);
}
