.arrowLeft {
  position: absolute;
  top: calc(50% - 30px);
  left: -60px;
  z-index: 4;
  cursor: pointer;
}

.arrowRight {
  padding: 0;
  position: absolute;
  top: calc(50% - 30px);
  right: -60px;
  z-index: 4;
  cursor: pointer;
}
